/*  
    Copyright 2022 HolyCorn Software
    The CAYOFED People System
    The zonation-manager navigation widget

    This stylesheet gives beauty to the navigation widget
*/

.hc-simple-file-explorer-navigation >.container{
    display:flex;
    gap:1em;
    flex-wrap:wrap;
}