/*  
    Copyright 2022 HolyCorn Software
    This widget allows for input widgets to be constructed, such that the user taps a button to open a popup, where he completes the action
*/

.hc-prompt-input {
    transition: 0.25s 0.125s;
}

.hc-prompt-input>.container {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.35em;
    cursor: default;
}

.hc-multi-flex-form .hc-prompt-input>.container {
    width:100%;
}

.hc-prompt-input >.container >.label:empty{
    display:none;
}

.hc-prompt-input>.container>.main {
    padding: 0.75em;
    border-radius: 0.35em;
    box-shadow: 0px 0px 12px rgb(192, 202, 206);
    display: flex;
    align-items: center;
    gap: 1em;
    cursor: pointer;
}

.hc-prompt-input>.container>.main>img {
    height: 1.75em;
}

.hc-prompt-input.hidden-disabled {
    opacity: 0;
    font-size:0px;
    pointer-events: none;
}