/*  
    Copyright 2022 HolyCorn Software
    This stylesheet controls the looks of an option on the dual-pane-expander widget
*/

.hc-dual-pane-expander-option>.container {
    display: flex;
    flex-grow: 1;

    padding: 0.75em;
    border-radius: 0.35em;

    transition: 0.95s 0s;
    cursor: default;

    font-size: 0.9em;
}

.hc-dual-pane-expander-option>.container>.label {
    display: flex;
    gap: 0.25em;
    justify-content: space-between;
    align-items:center;
}

.hc-dual-pane-expander-option.selected>.container {
    box-shadow: 0px 0px 8px lightgrey;

}

.hc-dual-pane-expander-option:hover>.container {
    box-shadow: 0px 0px 12px lightgrey;

}
