/*  
    Copyright 2023 HolyCorn Software
    The html-hc library
    This stylesheet works on the sections-thread widget
*/

.hc-sections-thread {
    display: flex;
    justify-content: center;
}

.hc-sections-thread>.container {
    display: inline-flex;
    flex-direction: column;
    max-width: var(--hc-sections-thread-width);
    --hc-sections-thread-width: clamp(80vw, 750px, 99vw - 1em);
}

.hc-sections-thread>.container>.map {
    position: sticky;
    margin-top: 1em;
    top: 5em;
    width: clamp(100px, 100%, 100vw - 6em);
    margin-left: 2.5em;

}

.hc-sections-thread>.container>.map>* {
    position: relative;
    top: 1em;
    left: clamp(2em, var(--content-width, 100%) + var(--map-width), 100% - var(--map-width) + 2.5em);
    max-width: calc((var(--hc-sections-thread-width) * 0.35) - 5em);
    display: inline-flex;
    min-height: 150px;
    padding: 0.5em;
    border-radius: 0.25em;
    background-color: inherit;
    font-size: 0.85em;
}

.hc-sections-thread>.container>.content {
    position: relative;
    z-index: 1;
    max-width: clamp(150px, 100% - var(--map-width, 5em) - 1em, 100%);
    margin-left: 0.5em;
    transform: translateY(calc(var(--map-height) * -1));
}