/*
Copyright 2021 HolyCorn Software
The MultiFlexForm widget
A highly modular animated flexible form
*/

.hc-multi-flex-form>.container {
    display: flex;
    flex-direction: column;
    padding-top: 0.75em;
    max-width: calc(100% - 2px);
    padding-bottom: 0.75em;
}


.hc-multi-flex-form>.container>.hc-multi-flex-form-item {
    transition: 0.5s 0.125s;
    padding-bottom: 0.5em;
    padding-top:0.5em;
}

.hc-multi-flex-form>.container>.hc-multi-flex-form-item.multi-flex-form-hidden {
    opacity: 0;
    pointer-events: none;
    font-size: 0em;
    padding: 0px;
}