/*
Copyright 2021 HolyCorn Software
The animated tick widget
*/


.hc-animated-tick>.container {
    display: inline-flex;
    position: relative;
}

.hc-animated-tick>.container>svg {
    transform: rotate(10deg);
}

.hc-animated-tick>.container>svg>.stroke {
    transition: 0.65s 0.125s;
    stroke-dasharray: 50;
    stroke-dashoffset: 50;
}

.hc-animated-tick.activated.animated>.container>svg>.stroke {
    stroke-dashoffset: 0;
}