/* 
    Copyright 2023 HolyCorn Software
    This stylesheet acts on the looks of a single item on the search-list-popup widget
 */



.hc-search-list-popup-item>.container {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    gap: 0.25em;
    border-radius: 0.5em;
    transition: 0.5s 0.125s;
}

.hc-search-list-popup-item>.container>.main {
    display: flex;
    flex-direction: column;
    gap: 0.125em;
    /* border: 1.5px solid rgb(183, 179, 187); */
    padding: 0.5em;
    padding-bottom: 0.125em;
    background-color: rgb(199, 204, 204);
    border-radius: 0.5em;
    max-width:6em;
    position:relative;
}

.hc-search-list-popup-item>.container>.main>img {
    width: 2.5em;
    align-self: center;
    border-radius: 0.5em;
}

.hc-search-list-popup-item>.container>.main>.label {
    font-size: 0.95em;
    align-self: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align:center;
    max-width:4.5em;
    overflow:hidden;
}


.hc-search-list-popup-item>.container>.actions {
    transition: 0.5s 0.25s;
    opacity: 0;
    max-height: 0px;
    display: flex;
    justify-content: center;
    gap: 0.5em;
}

.hc-search-list-popup-item>.container:hover>.actions {
    max-height: 2em;
    opacity: 1;
}

.hc-search-list-popup-item>.container:hover {
    background-color: rgb(201, 203, 207);
}

.hc-search-list-popup-item>.container>.actions>* {
    font-size: 0.8em;
    color: rgb(68, 4, 110);
    transition: 0.25s 0.125s;
}

.hc-search-list-popup-item>.container>.actions>*:hover {
    color: rgb(230, 22, 67);
}

.hc-search-list-popup-item.removed {
    animation: 0.5s 0.25s hc-search-list-popup-item-removed forwards;
}

@keyframes hc-search-list-popup-item-removed {
    0% {
        max-width: var(--current-max-width);
        max-height: var(--current-max-height);
        opacity:1;
    }
    50%{
        opacity:0;
    }
    90%{
        transform:scale(0);
    }

    100% {
        opacity: 0;
        font-size: 0em;
        max-width: 0px;
        max-height: 0px;
        padding:0px;
        gap:0px;
    }

}